// Colors

$primary-red: #DD0048;
$primary-blue: #16B4DE;

// Size and Spacing

$s-size: 0.875rem;
$m-size: 1rem;
$m-size-2: 1.25rem;
$l-size: 1.75rem;
$xl-size: 2rem;
$xxl-size: 2.25rem;


$desktop-breakpoint: 45rem;

