@use 'settings' as *;
@use 'base';
@import "~react-image-gallery/styles/css/image-gallery.css";

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tl-edges {
	grid-area: c;
	overflow-x: visible;
	overflow-y: hidden;
	// overflow: hidden;
}

.tl-wrapper {
	display: grid;
	// grid-template-columns: 1fr 1fr;
	grid-template-columns: 1em auto 1em;
	grid-template-rows: auto auto auto;
	grid-template-areas: ". c1 ." ". c2 ." ". c3 .";
	gap: 1.5em 0;
	margin: 1.5rem 0;
	background: #171717;
}

@media (min-width: 700px) {
	.tl-wrapper {
		grid-template-columns: 2em auto 2em;
	}
}

@media (min-width: 900px) {
	.tl-wrapper {
		// grid-template-columns: 1fr 1fr;
		grid-template-columns: 3em minmax(300px, 4fr) minmax(300px, 4fr) 3em;
		grid-template-rows: auto auto auto;
		grid-template-areas: ". c1 c2 ." ". c3 c3 .";
		gap: 1.5rem 1rem;
	}
}

@media (min-width: 961px) {
	.tl-wrapper {
		// grid-template-columns: 1fr 1fr;
		grid-template-columns: minmax(0, 1fr) minmax(300px, 4fr) minmax(300px, 4fr) minmax(0, 1fr);
		grid-template-rows: auto auto;
		grid-template-areas: ". c1 c2 ." ". c3 c3 .";
		gap: 1.5rem 1rem;
	}
}

body.fullScreen {
	overflow-y: hidden;

	.tl-wrapper {
		z-index: 30 !important;
	}
}


.image-gallery-icon {
	color: $primary-red;
	border-radius: 10px;

	&:hover {
		color: $primary-blue;
	}

	&:focus {
		outline: none;
		--ring-offset: 0px;
		box-shadow: $ring;
	}
}

.image-gallery-thumbnail {
	border-radius: 8px;
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus {
	border-color: $primary-blue;
}

.image-gallery-slide .image-gallery-description {
	bottom: 0;
	padding: 5px 10px;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
	max-height: 500px;
}

.image-gallery-content.fullscreen .image-gallery-slide .image-gallery-image {
	max-height: calc(100vh - 80px);
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
	max-height: 50px;
	object-fit: contain;
}

@media (min-width: 791px) {
	.image-gallery-slide .image-gallery-description {
		bottom: 0;
		padding: 10px 20px;
	}
}

.image-gallery.fullscreen-modal {
	background: #171717;
	z-index: 100;
}

.image-gallery-content.fullscreen {
	background: transparent;
}

@media (max-width: 768px) {
	.image-gallery-fullscreen-button .image-gallery-svg {
		height: 35px;
		width: 35px;
	}
}

@media (max-width: 790px) {
	.image-gallery-thumbnails-wrapper {
		display: none;
	}

	.image-gallery-slide-wrapper .image-gallery-description {
		opacity: 0;
	}
}


@media (hover: hover) {
	.image-gallery-slide-wrapper button,
	.image-gallery-slide-wrapper .image-gallery-index,
	.image-gallery-slide-wrapper .image-gallery-description  {
		opacity: 0;
		transition: 250ms ease-in;
	}
	
	.image-gallery-slide-wrapper:hover button,
	.image-gallery-slide-wrapper:hover .image-gallery-index,
	.image-gallery-slide-wrapper:hover .image-gallery-description,
	.image-gallery-slide-wrapper:focus-within button,
	.image-gallery-slide-wrapper:focus-within .image-gallery-index,
	.image-gallery-slide-wrapper:focus-within .image-gallery-description {
		opacity: 1;
	}
}



@media (min-width: 791px) {
	body.noScroll {
		overflow-y: hidden;
	}
}