@import '../styles/settings.scss';

.indent {
	padding-left: 1em;
}

.about-info {
    grid-area: content-1;
}

.about-info__object {
	font-size: 1rem;

	> p {
		margin: 0 0 0.2em;

		&:first-of-type {
			margin: 0;
		}
	}

	.indent.last {
		margin: 0;
	}
}

.object-header {
	font-size: 1rem;
	color: white;
	font-weight: normal;
}

@media (min-width: 550px) {
	.about-info__object {
		font-size: 1.25rem;
	}
}

@media (min-width: 791px) {
	.indent {
		padding-left: 2em;
	}
	
	.about-info__object {
		font-size: 1.125rem;
	
		> p {
			margin: 0 0 0.5em;
		}
	}
}

@media (min-width: 961px) {
	.about-info__object {
		font-size: 1.25rem;
	}
}

.object-key {
	color: $primary-red;
}

.object-value {
	color: $primary-blue;
}

.bracket {
	color: white;
}

.about-text {
	grid-area: content-3;
	columns: 2 35ch;
	column-gap: 1rem;
}

.skills {
	grid-area: content-2;
	position: relative;
	padding: 0;
	display: grid;
	width: 100%;
	max-width: 800px;
	justify-self: center;
	// min-height: 350px;
	// margin-bottom: 50px;
}

// .skill {
// 	// display: flex;
// 	// flex-direction: column;
// 	// position: absolute;
// 	padding: 1.5em;
// 	grid-row: 1;
// 	grid-column: 1;
// 	transition: 500ms ease-in-out;
// 	cursor: pointer;
// 	transition: clip-path 400ms ease-in, z-index 500ms 200ms, background 250ms, box-shadow 400ms;
// 	height: 100%;
// 	width: 100%;
// 	background-color: $primary-red;
// 	border-radius: 20px;
// 	z-index: 1;
// 	// padding-top: 80px;
// 	cursor: pointer;
// 	font-family: Evolve;
// 	font-family: 'Exo 2';
// 	font-family: Nasalization;
// 	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), -3px -3px 6px rgba(221, 0, 72, 0.5), inset 2px 2px 5px rgba(221, 0, 72, 0.5), inset -2px -2px 5px rgba(0, 0, 0, 0.3);

// 	clip-path: circle(3% at 95% 90%);

// 	&:hover {
// 		background-color: $primary-blue;
// 	}

// 	&:focus > span {
// 		outline: 1px dotted white;
// 	}
// }

// // @for $i from 1 through 5 {
// // 	$top: percentage((random(74) + 6) / 100);
// // 	$left: percentage((random(78) + 12) / 100);

// // 	.skill:nth-child(#{$i}) {
// // 		// clip-path: circle(7% at #{5% * $i + ($i * 10)} #{20%});
// // 		clip-path: circle(7% at $left $top);

// // 		.skill__btn {
// // 			// top: #{10%};
// // 			// left: #{$i * 7% * 1.1};
// // 			top: $top;
// // 			left: $left;
// // 		}
// // 	}

// // }

// @mixin skillPath($child, $size, $left, $top) {
// 	&:nth-child(#{$child}) {
// 		clip-path: circle($size at $left $top);
		
// 		> .skill__btn {
// 			left: $left;
// 			top: $top;
// 		}
// 	}
// }

// .skill__btn {
// 	transition: 500ms;
// 	transform: translate(-50%, -50%);
// 	position: absolute;
// 	font-size: 0.875rem;
// }

// .skill__title {
// 	opacity: 0;
// 	transition: 500ms;
// }

// .skill__text {
// 	opacity: 0;
// 	transition: 500ms;
// }

// .skill {
// 	@include skillPath(1, 2.9rem, 15%, 10%);
// 	@include skillPath(2, 2.9rem, 85%, 90%);
// 	@include skillPath(3, 2.9rem, 85%, 10%);
// 	@include skillPath(4, 2.9rem, 15%, 90%);
// 	@include skillPath(5, 2.9rem, 35%, 38%);
// 	@include skillPath(6, 2.9rem, 65%, 65%);
// 	@include skillPath(7, 2.9rem, 23%, 62%);
// 	@include skillPath(8, 2.9rem, 80%, 42%);
// 	@include skillPath(9, 2.9rem, 50%, 85%);
// 	@include skillPath(10, 2.9rem, 50%, 15%);
// }		

// @media (min-width: 961px) {
// 	.skill {
// 		@include skillPath(1, 3.125rem, 12%, 14%);
// 		@include skillPath(2, 3.125rem, 88%, 86%);
// 		@include skillPath(3, 3.125rem, 88%, 14%);
// 		@include skillPath(4, 3.125rem, 12%, 86%);
// 		@include skillPath(5, 3.125rem, 35%, 25%);
// 		@include skillPath(6, 3.125rem, 65%, 75%);
// 		@include skillPath(7, 3.125rem, 17%, 54%);
// 		@include skillPath(8, 3.125rem, 83%, 46%);
// 		@include skillPath(9, 3.125rem, 40%, 65%);
// 		@include skillPath(10, 3.125rem, 60%, 35%);
// 	}

// 	.skill__btn {
// 		font-size: 1rem;
// 	}
// }

// .skill.cls-active {
// 	clip-path: circle(100%);
// 	z-index: 10;
// 	background-color: $primary-blue;
// 	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), -3px -3px 6px rgba(22, 180, 222, 0.5), inset 2px 2px 5px rgba(22, 180, 222, 0.5), inset -2px -2px 5px rgba(0, 0, 0, 0.3);
// 	.skill__btn {
// 		opacity: 0;
// 	}

// 	.skill__text, .skill__title {
// 		transition: 500ms;
// 		opacity: 1;
// 	}
		
// }

@media (min-width: 961px) {
	.about-text {
		columns: 2 45ch;
		column-gap: 1.5rem;
	}
}