@use '../styles/settings.scss' as *;

.indent {
	padding-left: 1em;
}

.about-info {
    grid-area: c1;
}

.about-info__object {
	font-size: 1rem;

	> p {
		margin: 0 0 0.2em;

		&:first-of-type {
			margin: 0;
		}
	}

	.indent.last {
		margin: 0;
	}
}

.object-header {
	font-size: 1rem;
	color: white;
	font-weight: normal;
}

@media (min-width: 550px) {
	.about-info__object {
		font-size: 1.25rem;
	}
}

@media (min-width: 791px) {
	.indent {
		padding-left: 2em;
	}
	
	.about-info__object {
		font-size: 1.125rem;
	
		> p {
			margin: 0 0 0.5em;
		}
	}
}

@media (min-width: 961px) {
	.about-info__object {
		font-size: 1.25rem;
	}
}

.object-key {
	color: $primary-red;
}

.object-value {
	color: $primary-blue;
}

.bracket {
	color: white;
}

.about-text {
	grid-area: c3;
	columns: 2 35ch;
	column-gap: 1rem;
}

.skills {
	grid-area: c2;
	position: relative;
	padding: 0;
	display: grid;
	width: 100%;
	max-width: 800px;
	justify-self: center;
	min-height: 350px;
}

@media (min-width: 961px) {
	.about-text {
		columns: 2 45ch;
		column-gap: 1.5rem;
	}
}