@import '../styles/settings.scss';

.container {
    grid-area: c1 / c3;
	grid-row: c1 / c3;
}

.form {
	display: flex;
	// flex-direction: column;
	flex-wrap: wrap;
}

.form-group {
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5em;

	label {
		padding-left: 15px;
	}

	span {
		font-size: 0.875rem;
		padding-left: 15px;
	}

	input {
		// flex: 1 1 150px;
		height: 40px;
	}

}


.btn {
	flex-basis: 100%;
	margin-top: 1em;
}

.submit-msg {
	flex-basis: 100%;
	font-size: 1.25rem;
	margin: 1em 0 0;
}

.submit-success {
	color: #00910E;
}

.submit-fail {
	color: $primary-red;
}

@media (min-width: 791px) {
	.submit-msg {
		text-align: end;
	}
}

@media (min-width: 961px) {
	.btn {
		margin-top: 1.5em;
	}
}