.content {
	min-height: 100vh;
}

.page-wrapper {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 80px auto 70px;
	grid-template-areas: "h" "c" "a";
	padding: 10px 0 70px;
	transition: 200ms;
}

@media (min-width: 791px) {
	.page-wrapper {
		grid-template-rows: 120px auto;
		padding: 0;
	}
}

@media (min-width: 2000px) {
	.page-wrapper {
		grid-template-columns: minmax(0, 1fr) minmax(300px, 800px) minmax(300px, 800px) minmax(0, 1fr);
		grid-template-columns: minmax(0, 1fr) minmax(600px, 1600px) minmax(0, 1fr);
	}
}

.link {
    position: absolute;
    z-index: 100;
    padding: 0.75em;
    background-color: #fff;
    border-radius: 7px;
    left: 0;
    transform: translateY(-120%);

    &:focus {
        transform: translateY(0);
    }
}