@use '../styles/settings.scss' as *;

.contactLinks {
	grid-area: a;
	display: flex;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), -3px -3px 6px rgba(218, 218, 218, 0.05), inset 2px 2px 2px rgba(218, 218, 218, 0.05), inset -2px -2px 2px rgba(0, 0, 0, 0.3);
	border-radius: 15px;
	padding: 5px;
	margin: 0 2em;
	justify-content: space-evenly;
	background: #171717;

	a {
		display: flex;
		justify-content: center;
		flex: 0 1 60px;
		height: 100%;
		border-radius: 8px;

		&:focus {
				outline: none;
				box-shadow: $ring;
			}

		svg {
			height: 100%;
		}
	}
}

@media (min-width: 600px) {
	.contactLinks {
		margin: 0 5em;
	}
}

@media (min-width: 961px) {
	.contactLinks {
		flex-direction: column;
		position: fixed;
		right: 20px;
		top: 50%;
		padding: 10px;
		transform: translateY(-50%);
		box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3), -5px -5px 3px rgba(218, 218, 218, 0.05);
		border: 1px solid rgba(221, 0, 72, 0.2);
		margin: 0;
		z-index: 30;
	
		a {
			max-width: 50px;
			margin: 10px 0;
			flex-basis: 50px;

			svg {
				width: 100%;
			}
		}
	}
}

@media (min-width: 1200px) {
	.contactLinks {
		right: 30px;
	}
}
